{% extends 'base.html' %} 

{% block title %} Posts {% endblock title %} 

{% block content %} 
<div class="main-div">
   <h1>Posts</h1>
   {% for anything in post_list %}
     <div class="card post-list">
       <div class="card-body">
         <h5 class="card-title">{{ anything.title}}</h5>
         <p class="card-text">{{ anything.body|truncatechars:500 }}</p>
         <a href="{% url 'post_detail' anything.id %}" class="card-link">Continue Reading
             
         </a>
       </div>
     </div>
   {% endfor %}
</div>
{% endblock content%} 
